@import '../../../styles/vendors/material-components/theme/_color-palette.scss';

.company-logo {
  max-width: 210px;
  margin-top: 100px;
}
.inbox-title {
  text-align: left;
  color: #86c2cc;
  font-size: 14px;
  margin-bottom: -2px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 10px;
}
.image-show {
  .company-logo {
    margin-top: 50px;
  }
  margin-bottom: 20px;
}
// .MuiInput-underline-23.MuiInput-disabled-22:before {
//   border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
// }

// .MuiSelect-root-147  {
//   text-align: left;
// }
// .MuiInput-underline-23:after {
//   border-bottom: 2px solid $material-color-cyan-700 !important;
// }
// .MuiInput-underline-27:after {
//   border-bottom: 2px solid $material-color-cyan-700 !important;
// }
// .MuiFormLabel-root-140.MuiFormLabel-focused-141 {
//   color: $material-color-cyan-700 !important;
// }
// .MuiCheckbox-colorSecondary-165.MuiCheckbox-checked-161 {
//   color: #66bb6a !important;
// }

.client-item-sub {
  width: 100%
}