backend/node_modules
frontend/node_modules
backend/package-lock.json
frontend/package-lock.json

backend/api/\.DS_Store

backend/\.DS_Store

backend/uploads/

backend/db\.json

backend/yarn\.lock

frontend/yarn\.lock

frontend/build/

backend/build/

node_modules/

\.DS_Store
db.json

.vscode/
uploads
cypress/videos
cypress/screenshots
package-lock.json
