@import '../../../../../../styles/variables';

.checkbox {
  &--primary {
    color: $primary !important;
  }
  &--secondary {
    color: $secondary !important;
  }
  &--green {
    color: #66bb6a !important;
  }
}
.checkbox_label {
  margin: 0 !important;
}

.custom-label {
  span {
    &:last-child {
      color: rgba(0, 0, 0, 0.54) !important;
    }
  }
}