@import '../../styles/_variables.scss';

.sidebar {
  overflow-y: hidden !important;
  overflow-x: hidden;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  transition: width 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-delay: 0s;
  white-space: nowrap;
  width: 64px;
  position: relative;

  @media(max-width: 790px) {
    display: none !important;
  }
  .sidebar-header {
    background-color: $primary;
    text-align: center;
    line-height: 60px;
    padding: 0 18px 0 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    .header-left {
      position: relative;
      right: 8px;
      cursor: pointer;
      .logo-img {
        height: 30px;
        width: 41px;
      }
      .logo-text {
        width: 101px;
        margin-top: -5px;
        margin-left: 0px;
        margin-right: 10px;
        height: 30px;
      }
    }
    .header-right {
      margin-left: 8px;
      cursor: pointer;
      > svg {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.55);
        margin-bottom: 4px;
      }
      &:hover {
        > svg {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .sidebar-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 104px);
    position: relative;
    right: 4px;
  }
  .sidebar-sub-header {
    display: none;
    font-size: 0.76563rem,
  }
  .sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    > div {
      right: 4px;
    }
  }

  .sidebar-list-item {
    .sidebar-list-item__expand {
      margin-right: 0;
      transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
      transition-property: opacity;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-delay: 0.2s;
      opacity: 0;
    }
    .sidebar-list-item__icon {
      color: rgba(0, 0, 0, 0.87) !important;
      > svg {
        font-size: 18px;
      }
    }
    .sidebar-list-item__text {
      padding: 0 0 0 18px;
      transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
      transition-property: opacity;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-delay: 0.2s;
      opacity: 0;
      span {
        color: rgba(0, 0, 0, 0.87) !important;
        font-size: 14px;
      }
    }
    &.active {
      .sidebar-list-item__icon, .sidebar-list-item__text span {
        color: #DB5461 !important;
      }
    }
    &.expand {
      background-color: rgba(0, 0, 0, 0.05)
    }
  }
  &:hover, &.sticky-open {
    width: 220px !important;
    .sidebar-header {
      .header-left {
        right: 0;
      }
    }
    .sidebar-body {
      right: 0;
    }
    .sidebar-footer {
      > div {
        right: 0;
      }
    }
    .sidebar-sub-header {
      display: list-item;
    }
    .sidebar-list-item {
      .sidebar-list-item__expand, .sidebar-list-item__text {
        padding: 0;
        opacity: 1;
      }
    }
  }
}

.sidebar-link {
  font-size: 0.875rem;
  &:hover {
    text-decoration-line: none
  }
}
.sticky-open-2 {
  width: 220px !important;
}
.sticky-close {
  width: 64px !important;
}